$ const orgName = 'orgName' ;


<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="cache-control" content="max-age=0" />
		<link rel="stylesheet" href="/page/style.css">
	</head>
	<body>
        <div.shower>
		    ${input.title} <br>
		    ${orgName} <br>
            $ JSON.stringify(input.object2); 
        </div>
	</body>
</html>