$ const orgName = input.orgName ;

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="cache-control" content="max-age=0" />
		<link rel="stylesheet" href="/page/style.css">
	</head>
	<body>
		${orgName}
	</body>
</html>
